@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f1014;
}

body {
  background: var(--background);
  color: white;
  -webkit-tap-highlight-color: transparent;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}
